.header {
    display: flex;
    width: 100%;
}

.navSection {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    gap: 80px;
    width: 100%;
}

.name {
    margin-left: 40px;
    white-space: nowrap;
    width: auto;
}

.header p {
    opacity: 0;
    animation: thanos-typography 400ms ease-in-out forwards 800ms;
    font-family: Alvaro, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.underliningMainAnimation {
    height: 2px;
    animation: underlining 1800ms forwards 1500ms;
    position: relative;
    background: #121212;
    width: 0%;
}

.underliningOnMousePassAnimation {
    height: 2px;
    animation: underlining 1000ms forwards;
    position: relative;
    background: #121212;
    width: 0%;
}

@keyframes underlining {
    0% {
        left: 100%;
        width: 0%;
    }


    100% {
        left: 0%;
        width: 100%;
    }
}

@keyframes thanos-typography {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}