.header {
    display: flex;
    width: 100%;
}

.navSection {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    gap: 80px;
    width: 100%;
}

.name {
    margin-left: 40px;
    white-space: nowrap;
    width: auto;
}

.header p {
    opacity: 0;
    animation: thanos-typography 400ms ease-in-out forwards 800ms;
    font-family: Alvaro, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.underliningAnimation {
    animation: underlining 2000ms forwards 1000ms;
    width: 0%;
    border: 1px solid #121212;
}

@keyframes underlining {
    0% {
        width: 0%;
        transform: translateY(1000);

    }

    100% {
        width: 100%;
        border: 1px solid #121212;
    }
}

@keyframes thanos-typography {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}