.name1 {
    font-family: Morguns, sans-serif;
    font-size: 15rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.name2 {
    font-family: Meraki, sans-serif;
    font-size: 6.5rem;
    margin: 0;
}