.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
}

.name1 {
    font-family: Morguns, sans-serif;
    font-size: 15rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.name2 {
    font-family: Meraki, sans-serif;
    font-size: 6.5rem;
    margin: 0;
}

.blackPage {
    position: fixed;
    height: 100%;
    width: 100%;
    animation: initial-transition 800ms ease-in-out forwards 200ms;
    background-color: #121212;
}

@keyframes initial-transition {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}