.footer {
    display: flex;
}

.footerOrigin {
    margin-left: 20px;
    white-space: nowrap;
    width: auto;
}

.socialNetwork {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 20px;
    width: 100%;
}